# Forcing LF line endings for specific text files
META-INF/** text eol=lf
*.prop text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf

# Treat system files as binary
system/** binary
common/**/** binary
